.carrousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 7rem auto 1rem auto;
    max-width: 124rem;
}

.carrousel-container,
.carrousel img {
    height: 50rem;
    border-radius: 25px;
}

.carrousel {
    width: 100%;
    margin: auto;
    img {
        width: 100%;
        object-fit: cover;
    }
}

.arrow {
    position: absolute;
}

.arrow-left {
    left: 3%;
}

.arrow-right {
    right: 3%;
}

.no-arrow,
.no-page-count {
    content-visibility: hidden;
}

.page-count {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    position: absolute;
    bottom: 3%;
}
