.carrousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 7rem auto 1rem auto;
    max-width: 124rem;
}

.carrousel-container,
.carrousel img {
    height: 50rem;
    border-radius: 25px;
    
}

.carrousel {
    img {
        width: 124rem;
        object-fit: cover;
    }
}

.arrow {
    position: absolute;
}

.arrow-left {
    left: 3%;
}

.arrow-right {
    right: 3%;
}

.page-count {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    position: absolute;
    bottom: 3%;
}
