.rental-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.rental-title {
    color: $main-color;
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 3.6rem;
        margin-bottom: 0%;
        font-weight: 500;
    }

    h2 {
        font-size: 2rem;
        font-weight: 500;
    }
}

.rental-host {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    flex-wrap: wrap;
}

.host {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    flex-wrap: wrap;

    h2 {
        color: $main-color;
        font-size: 1.8rem;
        font-weight: 500;
        text-align: right;
        line-height: 2.6rem;
        height: 8rem;
        width: 8rem;
        padding: 1.5rem 1.2rem 1rem 0;
    }

    img {
        border-radius: 50%;
        height: 8rem;
        // C'est super petit comme image en respectant figma !!!
    }
}

.tags {
    margin-left: -3.5rem;
    list-style-type: none;
    display: flex;
    flex-direction: row;

    li {
        color: white;
        font-size: 1.4rem;
        background-color: $main-color;
        border-radius: 1rem;
        padding: 0.5rem 3rem;
        margin-right: 1rem;
    }
}

.rate {
    padding-left: 2rem;

    img {
        height: 3rem;
        width: 3rem;
        margin-left: 1rem;
    }
}

.rental-collapses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 4rem;

    .collapse {
        width: 47%;

        ul {
            list-style-type: none;
            margin-left: -3rem;
        }

        .collapse-text p {
            min-height: 30rem;
        }
    }
}
