@media screen and (min-width: 1425px) {
    body {
        margin-top: 2%;
    }

    /* Page : Rental */
    .rental-collapses {
        margin: 4rem auto;
    }

    .rental-title h1 {
        font-size: 5rem;
        text-transform: uppercase;
    }

    .rental-title h2 {
        font-size: 3.5rem;
    }

    .host h2 {
        font-size: 2.8rem;
        padding-right: 2rem;
        margin-right: 3rem;
    }

    .host img {
        height: 15rem;
    }

    /* Composant : Navigation */
    nav a {
        font-size: 3.5rem;
    }

    /* Composant : Carrousel */
    .carrousel-container,
    .carrousel img {
        width: 140rem;
        height: 60rem;
    }

    /* Composant : Tags */
    .tags li {
        font-size: 2.4rem;
    }

    /* Composant : Rate */
    .rate {
        padding-top: 3rem;
    }

    .rate img {
        height: 4rem;
        width: 4rem;
    }
}
