@media screen and (min-width: 1425px) {
    .rental-container,
    .rental-collapses {
        max-width: 1210px;
        margin: 3rem auto;
    }

    header {
        max-width: 140rem;
        margin: 0 auto;
    }

    .carrousel-container,
    .carrousel img {
        width: 140rem;
        height: 60rem;
    }
}
