@media screen and (max-width: 540px) {
    body {
        margin-top: 1rem;
    }

    /* Page : About */
    .about-container .banner-container {
        height: 20rem;
    }

    .about-container .banner-container img {
        height: 20rem;
        object-fit: cover;
    }

    /* Page : Rental */
    .rental-title h1 {
        font-size: 1.8rem;
    }

    .rental-title h2 {
        font-size: 1.4rem;
    }

    .rental-host {
        margin-top: -3rem;
    }

    .host h2 {
        font-size: 1.4rem;
        line-height: normal;
    }

    .host img {
        height: 4rem;
        margin-top: -1rem;
    }

    /* Page : Erreur */
    .error-container {
        margin-top: 15rem;
    }

    .error-logo {
        height: 9rem;
        width: 20rem;
    }

    .error-container h1 {
        font-size: 1.8rem;
        line-height: 3rem;
    }

    .error-container a {
        font-size: 1.4rem;
    }

    /* Composant : Header */
    header {
        margin: 0;
    }

    header img {
        height: 5rem;
        width: 13rem;
    }

    /* Composant : Navigation */
    nav a {
        font-size: 1.2rem;
        padding-left: 1rem;
    }

    /* Composant : Banner */
    .banner-container,
    .banner-container img {
        height: 11rem;
        margin: 5% auto;
    }

    .banner-container h1 {
        font-size: 2.4rem;
        text-align: left;
    }

    /* Composant : Card */
    .to-rental-link {
        height: 25rem;
        margin-bottom: 2rem;
    }

    .to-rental-link h2 {
        padding: 0 4%;
        font-size: 1.8rem;
    }

    .rental-cover {
        height: 18rem;
    }

    /* Composant : Carrousel */
    .carrousel-container,
    .carrousel img {
        width: 100%;
        height: 25rem;
    }

    .carrousel-container {
        margin: 2rem auto 0 auto;
    }

    .arrow img {
        height: 2.5rem;
    }

    .page-count {
        display: none;
    }

    /* Composant : Rate */
    .rate {
        padding-left: 3rem;
    }

    .rate img {
        height: 2rem;
        margin-left: -0.5rem;
    }

    /* Composant : Collapses */
    .collapse-title h2 {
        font-size: 1.3rem;
    }

    .collapse-text {
        line-height: normal;
        font-size: 1.3rem;
        padding: 0 1rem;
    }

    .rental-collapses {
        margin-top: 0;
    }

    /* Composant : Tags */
    .tags {
        flex-wrap: wrap;
        margin-left: -4rem;
    }

    .tags li {
        font-size: 1.2rem;
        margin-bottom: 2rem;
        border-radius: 5px;
    }

    /* Composant : Footer */
    footer {
        text-align: center;
        font-size: 1.2rem;
    }
}
