@media screen and (max-width: 400px) {
    body {
        margin: 5%;
    }

    /* Header */
    header {
        margin: 0;
    }

    header img {
        height: 5rem;
        width: 15rem;
    }

    nav a {
        font-size: 1.2rem;
        padding-left: 1rem;
    }

    /* Banner */
    .banner-container,
    .banner-container img {
        height: 12rem;
        margin: 5% auto;
        border-radius: 1rem;
    }

    .banner-container h1 {
        font-size: 2.4rem;
        text-align: left;
        margin-left: 2rem;
        margin-right: 5rem;
    }

    /* Cards */
    .to-rental-link {
        height: 25rem;
        margin-bottom: 2rem;
    }

    .to-rental-link h2 {
        padding: 0 4%;
        font-size: 1.8rem;
    }

    .rental-cover {
        height: 18rem;
    }

    /* Footer */
    footer {
        text-align: center;
        font-size: 1.2rem;
    }

    /* A propos */
    .about-container .banner-container {
        height: 23rem;
    }

    .about-container .banner-container img {
        height: 23rem;
        object-fit: cover;
    }

    /* Collapses */
    .collapse-title h2 {
        font-size: 1.3rem;
    }

    .collapse-text {
        line-height: normal;
        font-size: 1.3rem;
        padding: 0 1rem;
    }

    /* Erreur */
    .error-container {
        margin-top: 15rem;
    }

    .error-logo {
        height: 9rem;
        width: 20rem;
    }

    .error-container h1 {
        font-size: 1.8rem;
        line-height: 3rem;
    }

    .error-container a {
        font-size: 1.4rem;
    }

    /* Carrousel */
    .carrousel-container,
    .carrousel img {
        width: 33rem;
        height: 25rem;
    }

    .carrousel-container {
        margin-top: 3rem;
        margin-bottom: 0%;
    }

    .arrow img {
        height: 2.5rem;
    }

    .page-count {
        display: none;
    }

    /* Fiche logement */
    .rental-title h1 {
        font-size: 1.8rem;
    }

    .rental-title h2 {
        font-size: 1.4rem;
    }

    .tags {
        flex-wrap: wrap;
        margin-left: -4rem;
    }

    .tags li {
        font-size: 1.2rem;
        margin-bottom: 2rem;
        border-radius: 0.5rem;
    }

    .rental-host {
        margin-top: -3rem;
    }

    .host h2 {
        font-size: 1.4rem;
        line-height: normal;
    }

    .host img {
        height: 4rem;
        margin-top: -1rem;
    }

    .rate {
        padding-left: 3rem;
    }

    .rate img {
        height: 2rem;
        margin-left: -0.5rem;
    }

    .rental-collapses {
        margin-top: 0;
    }

    .rental-collapses .collapse .collapse-text p {
        min-height: auto;
    }
}
