@media screen and (max-width: 1030px) {
    /* Page : Home */
    .cards-container {
        background-color: white;
        padding: 0;
    }

    /* Page : About */
    .content-container {
        width: 100%;
    }

    /* Page : Rental */
    .rental-container {
        flex-direction: column;
    }

    .rental-title {
        order: 0;
        flex-basis: 100%;
    }

    .rental-title h2 {
        font-size: 2.5rem;
    }

    .rental-host {
        order: 1;
        flex-basis: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }

    .host {
        flex-basis: 50%;
    }

    .host h2 {
        order: 1;
    }

    .host img {
        order: 2;
        height: 6rem;
    }

    /* Page : Erreur */
    .error-container h1 {
        text-align: center;
    }

    /* Composant : Header */
    header {
        margin-bottom: 0;
    }

    header img {
        height: 5rem;
    }

    /* Composant : Navigation */
    nav a {
        text-transform: uppercase;
        font-size: 2rem;
        padding-left: 1.9rem;
    }

    /* Composant : Banner */
    .banner-container,
    .banner-container img {
        height: 20rem;
        border-radius: 10px;
    }

    .banner-container h1 {
        font-size: 3.5rem;
        margin-left: 2rem;
        margin-right: 5rem;
    }

    /* Composant : Card */
    .to-rental-link {
        flex-basis: 100%;
        max-height: 30rem;
    }

    .to-rental-link h2 {
        font-size: 3rem;
    }

    /* Composant : Carrousel */
    .carrousel-container,
    .carrousel img {
        height: 40rem;
    }

    .arrow img {
        height: 5rem;
    }

    /* Composant : Collapse */
    .rental-collapses {
        flex-direction: column;
    }

    .rental-collapses .collapse {
        width: 100%;
    }

    .rental-collapses .collapse .collapse-text div {
        min-height: auto;
    }
}
